<div id="topbar">

  <% if (user) { %>
    <div id="logged_in">
      <p id="log_message"> Logged in as <%= user %> </p>
    </div>

    <div id="topbutton">
      <form action="/logout" method="POST">
        <button type="submit"> Log Out </button>
      </form>
    </div>



  <% } else { %>
    <div id="topbutton">
      <a href="/login" class="button"> Login </a>
      <a href="/register" class="button"> Register </a>
    </div>

    <% } %>

</div>