<% if (user) { %>
  <p> logged in as <%= user %> </p>
  <form action="/logout" method="POST" style="float:inline">
    <button type="submit"> Log Out </button>
  </form>
  <% } else { %>
    <a href="/login"> Login </a>
    </br>
    <a href="/register"> Register </a>
  <% } %>
