<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header.ejs %>
    <h2> Register </h2>
  </header>

  <div id="sidenav">
    <% include ./partials/_sidenav_anon.ejs %>
  </div>

  <h1> Welcome to TinyApp! <h1>
  <p> Our users enjoy an inferior experience to that of bit.ly </p>


</body>
</html>