<!DOCTYPE html>
<html lang="en">

<head>

  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
  <header>
    <% include ./partials/_header.ejs %>
  </header>

  <div id="wrap">
    <div id="sidenav">
      <% include ./partials/_sidenav_anon.ejs %>
    </div>

    <div id="main">
      <h3> Register </h3>
        <form action="/register" method="POST">
          Email:
          <input type="email" name="email">
          Password:
          <input type="password" name="password">
          <input type="submit" value="Submit">
        </form>
    <% if (warning_register) { %>
      <p class='warning'> <%=warning_register%> </p>
    <% } %>

    </div>
</div>


</body>
</html>