<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header.ejs %>
  </header>

  <ul>
      <% Object.keys(urls).forEach((key) => { %>
      <li>
        <%= key %> - <%= urls[key] %>
        <form action=<%= `/url/${key}/delete` %> method="POST" margin=30px>
          <button type="submit"> Delete </button>
        </form>
      </li>
    <% }); %>
  </ul>

</body>
</html>