<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">

  <header>
    <% include ./partials/_header.ejs %>
  </header>

  <div id="sidenav">
    <% include ./partials/_sidenav_user.ejs %>
  </div>

  <div id="main">

    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

    <div class = "failure">
      <% if (failure) { %>
        <p> The entered address was not a valid http or https uri </p>
      <% } %>
     </div>

  </div>


  </body>
</html>